[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
audioop-lts = "*"
requests = "*"
aiohttp = "*"
isort = "*"
black = "*"
pylint = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3"
